<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品管理</title>
    <link rel="stylesheet" href="/public/common/reset.css">
    <link rel="stylesheet" href="/public/admin/css/public.css">
    <link rel="stylesheet" href="/public/libs/modal/style.css">
    <link rel="stylesheet" href="/public/admin/css/order.css">

</head>
<body>
<!-- 导航栏及标题 -->
<%- include sidebar %>

<!-- 主体内容 -->
<main class="main">
    <div class="content-header">
        <button type="button" class="btn" id="js-add-type" data-target="#addTypeModal">增加类别</button>
        <div class="search-area">
            <input type="text" placeholder="查找类别" class="input">
            <a href="javascript:;" class="search-btn" id="js-search">🔍</a>
        </div>
    </div>
    <div class="content">
        <!-- 类别管理 -->
        <div class="type-wrapper table-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <th>类别</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tBody">
                    <% for( let item of data.data) { console.log(item)%>
                        <tr>
                            <td><%=item.name%></td>
                            <td>
                                <a href="javascript:;" class="operation" data-target="#modifyTypeModal" id="js-modify-<%=item.idCategory%>">修改</a>
                                <a href="javascript:;" class="operation" data-target="<%=item.idCategory%>" id="js-del-<%=item.idCategory%>">删除</a>
                            </td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</main>


<!-- 增加类别modal -->
<div class="modal hide" id="addTypeModal" data-dismiss="true" >
    <div class="modal-inner">
        <!-- 模态弹框头部 -->
        <header class="modal-header">
            <h2 class="header-title">增加类别</h2>
            <!-- 点击设置了data-dismiss属性的元素，能使模态弹框隐藏 -->
            <span class="del" data-dismiss="true">x</span>
        </header>
        <!-- 模态弹框头部 结束-->
        <!-- 模态弹框内容区 -->
        <div class="modal-content">
            <div class="content-inner">
                <form class="form" id="addForm">
                    <label class="form-label">类别：<input type="text" class="form-input" name="type"></label>
                </form>
            </div>
        </div>
        <!-- 模态弹框内容区 结束-->
        <!-- 模态弹框尾部 -->
        <footer class="modal-footer">
            <button type="button" class="btn" id="js-add-sure">确定</button>
        </footer>
        <!-- 模态弹框尾部 结束-->
    </div>
</div>

<!-- 修改类别modal -->
<div class="modal hide" id="modifyTypeModal" data-dismiss="true" >
    <div class="modal-inner">
        <!-- 模态弹框头部 -->
        <header class="modal-header">
            <h2 class="header-title">增加类别</h2>
            <!-- 点击设置了data-dismiss属性的元素，能使模态弹框隐藏 -->
            <span class="del" data-dismiss="true">x</span>
        </header>
        <!-- 模态弹框头部 结束-->
        <!-- 模态弹框内容区 -->
        <div class="modal-content">
            <div class="content-inner">
                <form class="form" id="modifyForm">
                    <label class="form-label">类别：<input type="text" class="form-input" name="type"></label>
                </form>
            </div>
        </div>
        <!-- 模态弹框内容区 结束-->
        <!-- 模态弹框尾部 -->
        <footer class="modal-footer">
            <button type="button" class="btn" id="js-modify-sure">确定</button>
        </footer>
        <!-- 模态弹框尾部 结束-->
    </div>
</div>

<script src="/public/common/common.js"></script>
<script src="/public/libs/modal/modal.js"></script>
<script src="/public/admin/js/category.js"></script>
</body>
</html>
