<div class="goods-wrapper">
    <%for (let item of data) {%>
        <div class="goods-item" data-id="<%=data.id%>">
            <div class="item-inner">
                <img src="<%=item.bigImg%>" class="item-img">
                <p class="item-des"><%=item.description%></p>
                <p class="item-price">￥ <%=item.price%></p>
                <span class="del" data-id="<%=data.id%>">x</span>
            </div>
        </div>
    <%}%>
</div>